
/build/
/run/
/logs/
/crash-reports/

/.mcreator/
/mcreator.gradle
/settings.gradle   # optional, kann man drin lassen wenn vorhanden
/cavesdelight.mcreator

.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/
.eclipse/

.DS_Store
Thumbs.db